.line{
    background-color: rgb(43, 43, 43);
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    /* padding: 2px; */
    margin-top: 40px;
}
.color-line{
    color: rgb(196, 196, 196);
}
.prog{
    font-size: 40px;
    width: -30px;
}
footer{
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 30px;
    margin-top: 40px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: rgb(48, 46, 46);
}
