*{
    scroll-behavior: smooth;
}
#Main-2{
    
}
.sec{
    opacity: 80%;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    margin-top: -10%;
    margin-right: 20px;
    margin-left: 40%;
    text-align: justify;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
span{
    font-size: 40px;
    color: rgb(209, 111, 111);
}
h3{
    color: black;
}
.sec-2{
    opacity: 80%;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    margin-top: 3%;
    margin-right: 20px;
    margin-left: 40%;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
strong{
    color: rgb(112, 150, 255);
    text-decoration: underline red 3px;
}
h2{
    color: rgb(27, 4, 54);
}
.Top{
    position: fixed;
    bottom: 100px;
    left: 10px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(96, 133, 255);
    padding-inline: 10px;
    border:none;
    color: #fff;
    text-decoration: none;
}
.Top:hover{
    border: 3px solid black ;
    color: black;
}
.clr{
    clear: both;
}
