*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
}
#head{
    font-weight: bold;
    font-style: italic;
    color: rgb(168, 168, 168);
    background-color: rgb(4, 10, 61);
    border-bottom-left-radius: 60px;
    border-left: 30px solid transparent;
    border-right: 100px solid #e67e22 !important;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
}
#head h1{
    margin-right: 20px;
}
/* Video Pass */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* Video Pass End */